@import "tailwindcss";

@layer base{
    body {
    background: #151c43;
    font-family: var(--font-raleway), sans-serif;
    }


    a, button, [role="button"], input, select, textarea, label {
    cursor: pointer;
    }
}
