@import "tailwindcss";

@layer base{
    body {
    background: #151c43;
    font-family: var(--font-raleway), sans-serif;
    }


    a, button, [role="button"], input, select, textarea, label {
    cursor: pointer;
    }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 80s linear infinite;
}

.animate-scroll-left:hover {
  animation-play-state: paused;
}
